* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 100%;
    height: auto;
    padding: 10px;
    margin: 10px;
}

.start-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: wheat;
    width: 85%;
    height: 700px;
}

.start-page p {
    text-align: center;
}

/* buttons */

.score-holder {
    display: flex;
    margin-left: 10px;
    
    
}

.score-ntn {
margin-left: -50px;
}

#highscore-Btn {
    color: purple;
}


#start-quize {
    color: purple;
   
}
