* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
    margin: 50px;
   

}
.container {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    justify-content: space-evenly;
    background-color: thistle;
    width: 800px;
    height: 800px;
   
}

.Score-holder {
    position: relative;
    top: 10px;
    right: 220px;
    color: purple;
    padding: 0px;
    margin: 0px;    
}

#highscore-Btn {
    color:rebeccapurple;
    font-style: italic;
}

.start-holder {
    position: relative;
    top: 80px;
    margin: 10px;
    /* background-color: purple; */
    margin-right: 50px;
    height: 200px;
    width: 200px;
    text-align: center;
}

#start-quize {
    position: relative;
    margin-top: 5px;
}

.timer-holder {
    position: relative;
    bottom: 220px;
    left: 320px;
    margin: 10px;
    background-color: whitesmoke;
    height: 22px;
    width: 100px;
    border-radius: 4px;
}

#countdown {
    position: relative;
    top: 2px;
    padding: 2px;
    text-align: center;
    color:black;
}


